###> symfony/framework-bundle ###
composer.phar
public/.htaccess
/public/.htaccess
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/preload.php
/var/
var/
vendor/
/vendor/
/node_modules/
.env
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

### IDE
.idea/
/.idea/