{% extends 'assets/base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center" style="margin-top : 170px">
        {% include 'assets/map.html.twig' %} 

    </div>
    <div class="container mt-5">
        <div style="background-color:#edf3f0">
            <div class="ml-2 mr-2">
                <h5>Bienvenue</h5>
                <p>Dans cette application vous allez pouvoir entrer dans le coeur de Youtube. Cliquez sur un pays et découvrez 
                ses tendances et ses meilleurs youtubeurs ! Ne passez plus votre temps devant des vidéos de mauvaise qualité, allez directement 
                au meilleur ! </br>
                Enfin, si vous voulez vous lancer dans une carrière, vous pourrez apprendre à créer votre vidéos parfaite. </br>
                On vous donne de quoi vous occuper !
                </p>
                <p class="blockquote-footer" >L'équipe YouStats</p>
            </div>
        </div>
    </div>
    <script>console.log({{ channels | json_encode | raw }});</script>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="row mt-3" style="justify-content: center">
                    <p style="color:black">Top 3 chaînes mondiales</p>
                </div>

                {% for channel in channels %} <!-- METTRE LES 3 MEILLEURES CHAINES EN TENDANCES-->
                    <div class="row mt-3" style="justify-content: center">
                        <div class="border rounded shadow-sm" style="width: 50%; background-color:white">
                            <img src="images/award-icon-06.png" title="my image" alt="my Image" style="height:20px; width: 20px">
                            <p class="text-center">{{ channel.channelName }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                <div class="row mt-3" style="justify-content: center">
                    <p style="color:black;">Top 3 catégories mondiales</p> <!-- METTRE LES TROIS MEILLEURES CATEGORIES-->
                </div>
                {% for category in categories %} <!-- METTRE LES 3 MEILLEURES CHAINES EN TENDANCES-->
                    <div class="row mt-3" style="justify-content: center">
                        <div class="border rounded shadow-sm" style="width: 50%; background-color:white">
                            <img src="images/award-icon-06.png" title="my image" alt="my Image" style="height:20px; width: 20px">
                            <p class="text-center">{{ category.categoryName }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <style>
        .translateBox:hover{
            -webkit-transform: translate(0.5em,0);
            -moz-transform: translate(0.5em,0);
            -o-transform: translate(0.5em,0);
            -ms-transform: translate(0.5em,0);
            transform: translate(0.5em,0);

            -webkit-transition: 1s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
        }
    </style>
{% endblock %}