{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            CARTE
        </div>
    </div>
    <div class="container mt-5">
        <div class="row border rounded shadow-sm" style="background-color:white">
            <p> Description de l'application</p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="row mt-3" style="justify-content: center">
                    <p style="color:#F87E45;">Top 3 mondial</p>
                </div>

                {% for channel in channels %} <!-- METTRE LES 3 MEILLEURES CHAINES EN TENDANCES-->
                    <div class="row mt-3" style="justify-content: center">
                        <div class="border rounded shadow-sm" style="width: 50%; background-color:white">

                            <p class="text-center">{{ channel.channelName }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="row mt-3 mb-3" style="justify-content: center">
                    <button type="button" class="translateBox btn btn-primary" style="background-color:#F87E45; border-color: #F87E45 ">Voir Plus</button>
                </div>
            </div>
            <div class="col">
                <div class="row mt-3" style="justify-content: center">
                    <p style="color:#F87E45;">Top 3 catégorie</p> <!-- METTRE LES TROIS MEILLEURES CATEGORIES-->
                </div>
                <div class="row mt-3" style="justify-content: center">
                    <div class="border rounded shadow-sm" style="width: 50%; background-color:white">
                        <p class="text-center">Gaming</p>
                    </div>
                </div>
                <div class="row mt-3" style="justify-content: center">
                    <div class="border rounded shadow-sm" style="width: 50%; background-color:white">
                        <p class="text-center">Music</p>
                    </div>
                </div>
                <div class="row mt-3" style="justify-content: center">
                    <div class="border rounded shadow-sm" style="width: 50%; background-color:white">
                        <p class="text-center">LifrStyle</p>
                    </div>
                </div>
                <div class="row mt-3 mb-3" style="justify-content: center">
                    <button type="button" class="translateBox btn btn-primary" style="background-color:#F87E45; border-color: #F87E45 ">Voir Plus</button>
                </div>
            </div>
        </div>
    </div>


    <style>
        .translateBox:hover{
            -webkit-transform: translate(0.5em,0);
            -moz-transform: translate(0.5em,0);
            -o-transform: translate(0.5em,0);
            -ms-transform: translate(0.5em,0);
            transform: translate(0.5em,0);
            -webkit-transition: 1s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
        }
    </style>
{% endblock %}