{% extends 'assets/base.html.twig' %}

{% block body %}
<div class="d-flex justify-content-center" style="margin-top : 150px">
    {% include 'map.html' %}

</div>
<div class="container mt-5">
    <div style="background-color:#edf3f0">
        <div class="ml-2 mr-2">
            <h5>Bienvenue</h5>
            <p>Description de l'application.</p>
            <p class="blockquote-footer" >L'équipe YouStats</p>
        </div>
    </div>
</div>

 <div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="row mt-3" style="justify-content: center">
                <p style="color:black">Top 3 mondial</p>
            </div>

            {% for channel in channels %} <!-- METTRE LES 3 MEILLEURES CHAINES EN TENDANCES-->
                <div class="row mt-3" style="justify-content: center">
                    <div class="border rounded shadow-sm" style="width: 50%; background-color:white">
                        <img src="images/award-icon-06.png" title="my image" alt="my Image" style="height:20px; width: 20px">
                        <p class="text-center">{{ channel.channelName }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="row mt-3 mb-3" style="justify-content: center">
                <button type="button" class="translateBox btn btn-primary" style="background-color:#a2a7ad; border-color: #a2a7ad ">Voir Plus</button>
            </div>
        </div>
        <div class="col">
            <div class="row mt-3" style="justify-content: center">
                <p style="color:black;">Top 3 catégorie</p> <!-- METTRE LES TROIS MEILLEURES CATEGORIES-->
            </div>
            {% for channel in channels %} <!-- METTRE LES 3 MEILLEURES CHAINES EN TENDANCES-->
                <div class="row mt-3" style="justify-content: center">
                <div class="border rounded shadow-sm" style="width: 50%; background-color:white">
                    <img src="images/award-icon-06.png" title="my image" alt="my Image" style="height:20px; width: 20px">
                    <p class="text-center">catégorie</p>
                </div>
            </div>
            {% endfor %}          
            <div class="row mt-3 mb-3" style="justify-content: center">
                <button type="button" class="translateBox btn btn-primary" style="background-color:#a2a7ad; border-color: #a2a7ad ">Voir Plus</button>
            </div>
        </div>
    </div>
 </div>
    <style>
        .translateBox:hover{
            -webkit-transform: translate(0.5em,0);
            -moz-transform: translate(0.5em,0);
            -o-transform: translate(0.5em,0);
            -ms-transform: translate(0.5em,0);
            transform: translate(0.5em,0);
            -webkit-transition: 1s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
        }
    </style>
{% endblock %}