{% extends 'assets/base.html.twig' %}

{% block title "indexCountry"%}

{% block body %}
<div class="container mt-5">
        {% if title is defined %}
        <div class="col">
            <div class="row mt-3" style="justify-content: center">
                <p style="color:#F87E45;">{{ title }}</p>
            </div>
        </div>
        {% endif %}
        {% if countries is defined %}
            {% include 'assets/carousel.html.twig' %}
        {% endif %}
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}

