{% extends 'assets/base.html.twig' %}

{% block title "showCountry" %}

{% block body %}
    <div class="container mt-5">
        <div style="margin-top : 190px">
            {% include 'assets/carousel.html.twig' %}
        </div>
        {% if (videos is defined) and (channels is defined) %}
        {% include 'assets/tabCountry.html.twig' %}
        {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}


{% endblock %}
