{% extends 'assets/base.html.twig' %}

{% block title "showCountry" %}

{% block body %}
    <div class="container mt-5">
        <div style="margin-top : 190px">
            {% include 'assets/carousel.html.twig' %}
            {{ form_start(dateForm) }}
            {{ form_widget(dateForm) }}
            <button type="submit" class="btn btn-primary">Save</button>
            {{ form_end(dateForm) }}

        </div>
        {% if (videos is defined) and (channels is defined) %}
            {% include 'assets/tabCountry.html.twig' %}
        {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}
